{% block form_row %}
{% spaceless %}
    <div class="col-xs-12">
    	<div class="col-xs-12 col-sm-3 text-right-not-xs">
    	{{ form_label(form) }}
        </div>
       	
        	{{ form_widget(form) }}
        
        <div class="col-sm-offset-2 col-xs-12 erreur"> 
        	{{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <ul>
        {%- for error in errors -%}
            <li><i class="fa fa-times"></i>  {{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
{%- endblock form_errors -%}



{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }} : {% if required -%} <span class='color-blue'>*</span> {%- endif -%}</label>
    {%- endif -%}
{%- endblock form_label -%}



{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}